/* --------------------------------------------------------------------------------------------------------------------
   @font-face позволяет разработчикам загружать пользовательские шрифты с веб-сервера использование разных форматов            
   (woff2 и woff) обеспечивает поддержку в различных браузерах свойства font-weight и font-style позволяют настроить 
   внешний вид текста, используя разные варианты одного и того же шрифта font-display: swap улучшает пользовательский 
   опыт, позволяя сразу отображать текст с помощью резервного шрифта до загрузки основного @font-face гарантирует, 
   что текст на веб-сайте будет отображаться с пользовательскими шрифтами, независимо от их наличия на клиентском 
   устройстве 
*/

/* https://webfonts.pro/base-web-fonts/sans-serif-grotesque/490-arial.html
*/
  @font-face {
    /* определяем имя шрифта как 'Arial' для дальнейшего использования в CSS */  
    font-family: 'Arial';
    src: url('../assets/fonts/ArialMT.woff2') format('woff2'),
      url('../assets/fonts/ArialMT.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    /* определяем имя шрифта как 'Arial' для дальнейшего использования в CSS */
    font-family: 'Arial';
    src: url('../assets/fonts/Arial-ItalicMT.woff2') format('woff2'),
      url('../assets/fonts/Arial-ItalicMT.woff') format('woff');
    font-weight: 400;
    /* устанавливаем курсивный стиль для шрифта  */
    font-style: italic;
    font-display: swap;
  }

 /* ------------------------------------------------------------------------------------------------------------------------------
  определяем CSS-переменные, которые делают стили более удобными для управления и повторного использования, эти переменные 
  определяются внутри псевдокласса :root, который действует как глобальная область видимости для всего документа
*/   
:root {
  --font-family--arial: 'Arial', sans-serif; 
  --color-black: #25282a;                     
  --color-white: #d7e5e2;
  --color-blue: #71abfe;;
  --color-hover: #ffffff;
  --viewport--xs: 320px;
  --viewport--md: 768px;
  --viewport--lg: 1280px;
  --slider-width: 400px;
  --number: 4;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
  }
  
img {
  max-width: 100%;
  height: auto;
}
  
a {
  text-decoration: none;
}
  
body {
  font-family: var(--font-family--georgia);
  color: var(--color-white);
  font-weight: 400;
}

.body_lock {
  overflow: hidden;
}

.hidden {
  visibility:hidden;
}

.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: var(--color-black);
  max-width: 95%;
  height: 980px;
  margin: 1rem auto;

}
.slider {
  width: 90%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}


.slider_wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}


.slide {
  min-width: 100%;
  position: relative;
}


.slide img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 20px;
}


.slider_footer {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 10px 0;
  background: var(--color-black);
  color: white;
  box-sizing: border-box;
}

.greetings {
  margin-left: 10px;
  font-size: 1.2em;
  font-family: var(--font-family--georgia);
  color: var(--color-white);
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
}


.indicators {
  display: flex;
  gap: 20px;
  margin-right: 10px;
}

.indicator {
  width: 20px;
  height: 20px;
  background-color: var(--color-blue);
  border-radius: 50%;
  cursor: pointer;
}

.indicator.active {
  background-color: transparent;
  border: 2px solid var(--color-blue);
} 
