/* --------------------------------------------------------------------------------------------------------------------
   @font-face позволяет разработчикам загружать пользовательские шрифты с веб-сервера использование разных форматов            
   (woff2 и woff) обеспечивает поддержку в различных браузерах свойства font-weight и font-style позволяют настроить 
   внешний вид текста, используя разные варианты одного и того же шрифта font-display: swap улучшает пользовательский 
   опыт, позволяя сразу отображать текст с помощью резервного шрифта до загрузки основного @font-face гарантирует, 
   что текст на веб-сайте будет отображаться с пользовательскими шрифтами, независимо от их наличия на клиентском 
   устройстве 
*/

/* https://webfonts.pro/base-web-fonts/sans-serif-grotesque/490-arial.html
*/
  @font-face {
    /* определяем имя шрифта как 'Arial' для дальнейшего использования в CSS */  
    font-family: 'Arial';
    src: url('../assets/fonts/ArialMT.woff2') format('woff2'),
      url('../assets/fonts/ArialMT.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    /* определяем имя шрифта как 'Arial' для дальнейшего использования в CSS */
    font-family: 'Arial';
    src: url('../assets/fonts/Arial-ItalicMT.woff2') format('woff2'),
      url('../assets/fonts/Arial-ItalicMT.woff') format('woff');
    font-weight: 400;
    /* устанавливаем курсивный стиль для шрифта  */
    font-style: italic;
    font-display: swap;
  }

 /* ------------------------------------------------------------------------------------------------------------------------------
  определяем CSS-переменные, которые делают стили более удобными для управления и повторного использования, эти переменные 
  определяются внутри псевдокласса :root, который действует как глобальная область видимости для всего документа
*/   
:root {
  --font-family--arial: 'Arial', sans-serif; 
  --color-black: #25282a;                     
  --color-white: #d7e5e2;
  --color-blue: #71abfe;;
  --color-hover: #ffffff;
  --viewport--xs: 320px;
  --viewport--md: 768px;
  --viewport--lg: 1280px;
  --slider-width: 400px;
  --number: 4;
}
